@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

body {
  background-color: #f6f6f4;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  font-size: 1rem;
  margin: 0 0;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#container {
  background-color: #fff;
  margin-top: 20px;
}

#header-nav {
  background-color: #FF5192;
}

#footer {
  background-color: #3e3e3e;
}

@media screen and (max-width: 992px) {
  #container {
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  #container {
    width: 992px;
    margin-right: auto;
    margin-left: auto;
  }
}

