.calendar{
  table-layout:fixed;
}

.calendar thead tr{
  background-color: #FF5192;
  color: #FFFFFF;
}

.calendar tbody tr{
  height: 75px;
  font-size:10px;
}
/*
.calendar td{
  width: 14.28%;
}
*/
.calendar-header{
  text-align:center;
}

.calendar-header-date{
  font-size:22px;
  color: #FF5192;
}

.left-button{
  text-align:right;
}

.right-button{
  text-align:left;
}

.pager-button{
  background-color:#fff;
  border-style:none;
  /* border-radius:3px; */
  color:#FF5192;
  font-size:25px;
  outline:none; /* キーボードで操作する奴おらんやろ */
}
.pager-button:hover{
  opacity: 0.6;
  transition: 0.2s;
 }

th.dateCol{
  width: 20%;
}
th.typeCol{
  width: 20%;
}
th.nameCol{
  width: 60%;
}

.table-modal tr td{
  font-size:14px;
}

.bg-secondary{
  /* background-color: #C0C0C0; */
  color: #C0C0C0;
}

.model{
display: none;
height: 100vh;
position: fixed;
top: 0;
width: 100%;
}
.modal-bg{
background: rgba(0,0,0,0.5);
height: 100vh;
position: absolute;
width: 100%;
}
.modal-content{
background: #fff;
left: 50%;
padding: 40px;
position: absolute;
top: 50%;
transform: translate(-50%,-50%);
}

.modal-close{
  color: #0366D6 !important;
  text-decoration: none;
}

.modal-close:hover{
  opacity: 0.6;
  transition: 0.2s;
  text-decoration: none;
}

.event-tag{
  background-color:#FF5192;
  border-radius:3px;
  color:#fff;
  z-index:1;
  pointer-events: none;
}
.stage-tag{
  background-color:#0366D6;
  border-radius:3px;
  color:#fff;
  z-index:1;
  pointer-events: none;
}
.radio-tag{
  background-color:#FF5192;
  border-radius:3px;
  color:#fff;
  z-index:1;
  pointer-events: none;
}
.media-tag{
  background-color:#008080;
  border-radius:3px;
  color:#fff;
  z-index:1;
  pointer-events: none;
}
.program-tag{
  background-color:#FF3300;
  border-radius:3px;
  color:#fff;
  z-index:1;
  pointer-events: none;
}
.view-detail{
  cursor:default;
}
.js-view-detail{
  cursor:default;
  z-index:2;
}
.view-detail:hover{
  opacity: 0.6;
  transition: 0.2s;
}
@media screen and (min-width: 800px) {
  .modal-content{
    width: 70%;
  }
  .tag-size{
    width:50%;
  }
}

@media screen and (max-width: 800px) {
  .modal-content{
    width: 100%;
  }
  .tag-size{
    width:100%;
  }
}
