.calendar thead tr{
  background-color: #FF5192;
  color: #FFFFFF;
}

.calendar tbody tr{
  height: 75px;
  font-size:10px;
}

.calendar td{
  width: 14.28%;
}

th.dateCol{
  width: 20%;
}
th.typeCol{
  width: 20%;
}
th.nameCol{
  width: 60%;
}

.table-modal tr td{
  font-size:14px;
}

.bg-secondary{
  background-color: #C0C0C0;
}

.model{
display: none;
height: 100vh;
position: fixed;
top: 0;
width: 100%;
}
.modal-bg{
background: rgba(0,0,0,0.5);
height: 100vh;
position: absolute;
width: 100%;
}
.modal-content{
background: #fff;
left: 50%;
padding: 40px;
position: absolute;
top: 50%;
transform: translate(-50%,-50%);
}

.modal-close{
  color: #0366D6 !important;
  text-decoration: none;
}

.modal-close:hover{
  opacity: 0.6;
  transition: 0.2s;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .modal-content{
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .modal-content{
    width: 100%;
  }
}
