.event-title{
  margin-left: 10px;
}
tr.detail {
  border-top: 1px solid #C0C0C0;
}
th.thCol{
  width: 15%;
}
td.tdCol{
  width: 85%;
}
th.setTrunCol{
  width: 15%;
}
th.setNameCol{
  width: 85%;
}

.img-link {
	/* 画像のフェードイン対応 */
 	animation: fadeIn 0.8s ease 0s 1 normal;
    -webkit-animation: fadeIn 0.8s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.event-detail-table{
  width:85%; 
  margin: 0 auto;
}

.event-detail-table tr {
  height: 50px;
}
.thumbnail-card{
  display:flex !important;
}
.thumbnail-text{
  float: right;
  text-align:center;
}
.thumbnail-text > p:hover{
  color: #0366D6 !important;
}
.thumbnail-text > p:hover:hover{
  opacity: 0.6;
  transition: 0.2s;
}
a {
  text-decoration: none !important;
}
@media screen and (min-width: 1200px) {
  .thumbnail-img{
    width: 200px !important;
  }
}
@media screen and (max-width: 1200px) {
  .thumbnail-img{
    width: 150px !important;
  }
}