tr.detail {
  border-top: 1px solid #C0C0C0;
}
th.thCol{
  width: 15%;
}
td.tdCol{
  width: 85%;
}
th.setTrunCol{
  width: 15%;
}
th.setNameCol{
  width: 85%;
}



.img-link {
	/* 画像のフェードイン対応 */
 	animation: fadeIn 0.8s ease 0s 1 normal;
    -webkit-animation: fadeIn 0.8s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.event-detail-table{
  width:85%; 
  margin: 0 auto;
}

.event-detail-table tr {
  height: 50px;
}