.materialboxed {
	/* 画像のフェードイン対応 */
 	animation: fadeIn 0.8s ease 0s 1 normal;
    -webkit-animation: fadeIn 0.8s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

th.dateCol{
  width: 20%;
}
th.typeCol{
  width: 20%;
}
th.nameCol{
  width: 60%;
}
