th.dateCol{
  width: 20%;
}
th.typeCol{
  width: 20%;
}
th.nameCol{
  width: 60%;
}
tr{
  height:50px;
}t
td{
  font-size:14px !important;
}
label{
  font-weight: normal !important;
}
ul.pagination{
  margin-left: 10px;
}