.fa {
    font-size: 1.5em;
    user-select: none;
}
[class*="fa-twitter"] {color: white;}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    background-image: url("../../images/bg.png");
    /* width: calc(100vw - 15px); /*スクロールバーでズレる対応*/
}

.container {
    margin:0 auto;
}

main {
    flex: 1 0 auto;
}

.ncontent {
  position: relative;
  top: 20%;
}

.main-contant{
  margin: 0 auto;
}

.page-footer{
  background-color: #FF5192;
}

.page-footer *{
  color: #ffffff;
}
/* navbar 全体の背景色とボーダーカラー */
  .navbar-default {
  background-color: #FF5192;
  border-color: #FF5192;
  border-radius: 0;
  }
  /* navbar テキストカラー */
  .navbar-default .navbar-nav > li > a {
  color: #ffffff;
  }
  /* navbar hover,focus時のテキストカラー */
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
  }
  /* navbar active設定時のカラー */
  .navbar-default .navbar-nav>.active>a,
  .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover {
  color: #ffffff;
  background-color: #FF367F;
  }
  /* navbar ハンバーガー四角枠 */
  .navbar-default .navbar-toggle {
  border-color: #ffffff;
  }
  /* navbar ハンバーガー三本線 */
  .navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
  }
  /* navbar ハンバーガーボタン,ホバーした時の背景色 */
  .navbar-default .navbar-toggle:hover {
  background-color: #FF367F;
  }
  /* navbar ハンバーガーボタン,タップした時の背景色 */
  .navbar-default .navbar-toggle:focus{
  background-color: #FF5192;
  }
  /* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
  border-color: #65baad;
  }
  /* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
  .navbar-default .navbar-toggle:focus > .icon-bar,
  .navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #65baad;
  }
  /* navbar Brandのカラー */
  .navbar-default .navbar-brand {
  color: #ffffff;
  }
  .navbar-default .navbar-brand:focus,
  .navbar-default .navbar-brand:hover {
    color: #ffffff;
    background-color: transparent;
  }